@function rpx($number) {
  @return $number*1rpx
}

.index {
  color: red;
  .content {
    height: rpx(500);
    color: green;
    background: url("./helps/测试小图.jpg");
    background-size: 100% 100%;
  }
}